<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="练习.css" />
    <script src="练习.js"></script>

</head>

<body>
    <div>
        <h1>这是什么字体效果</h1>
    </div>
    <div id=grad1></div>
    <div id=ooo></div>
    <div id=ppp></div>
</body>

</html>
